body{
background-image: url("yellow-gradient-linear-white-1920x1080-c2-ffd700-ffffff-a-195-f-14.jpg");
	background-repeat: no-repeat;
}

}

h3 {
	font-size: 50px;
	font-weight: bold;
    color: black;
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-block-end: 10px;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=radio] {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=number] {
    width: 30%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-block-end: 10px;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius:0px;
    box-sizing: border-box;
}

input[type=email] {
    width: 30%;
    padding: 12px 20px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin-block-start: 10px;
}

input[type=submit]:hover {
    background-color: #000000;
}

button {
    width: 20%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 0px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}	
	
}